<!-- ======== START OF HEADER SECTION ========= -->
{% include "includes/header.html" %}
<!-- ======== END OF HEADER SECTION =========== -->
{% load static %}
{% block content %}

    <!-- ======== START OF HEADER SECTION ========= -->
    {% include "includes/aside.html" %}
    <!-- ======== END OF HEADER SECTION =========== -->

    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <h1>&nbsp;</h1>
                        <h1>&nbsp;</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-advance-area">

            <!-- ======== START OF HEADER SECTION ========= -->
            {% include "includes/menubar.html" %}
            <!-- ======== END OF HEADER SECTION =========== -->


            <!-- Single pro tab start-->
            <div class="single-product-tab-area mg-b-30">
                <!-- Single pro tab review Start-->
                <div class="single-pro-review-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="review-tab-pro-inner">
                                    <ul id="myTab3" class="tab-review-design">
                                        <li class="active"><a href="#description"><i class="icon nalika-edit" aria-hidden="true"></i> Add New Product </a></li>
                                    </ul>

                                    <form id="" method="POST" action="" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div id="myTabContent" class="tab-content custom-product-edit">
                                            <div class="product-tab-list tab-pane fade active in" id="description">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="review-content-section">
                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon">
                                                                    <select name="category_id" class="form-control" required>
                                                                        <option value="" selected disabled>Select Category</option>
                                                                        {% for i in categoryData %}
                                                                            <option value="{{ i.category_id }}">{{ i.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </span>
                                                            </div>

                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon"><i class="icon nalika-user" aria-hidden="true"></i></span>
                                                                <input type="text" name="name" class="form-control" placeholder="Name" required>
                                                            </div>

                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon">BDT</span>
                                                                <input type="text" name="regular_price" class="form-control" placeholder="Regular Price" required>
                                                            </div>

                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon">BDT</span>
                                                                <input type="text" name="delivery_charge" class="form-control" placeholder="Delivery Charge" required>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="review-content-section">
                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon">
                                                                    <select name="company_id" class="form-control" required>
                                                                        <option value="" selected disabled>Select Company</option>
                                                                        {% for i in companyData %}
                                                                            <option value="{{ i.company_id }}">{{ i.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </span>
                                                            </div>

                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon"><i class="icon nalika-user" aria-hidden="true"></i></span>
                                                                <input name="product_img" class="form-control" type="file" placeholder="Image" required>
                                                            </div>

                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon">BDT</span>
                                                                <input type="text" name="current_price" class="form-control" placeholder="Current Price" required>
                                                            </div>

                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon">BDT</span>
                                                                <input type="text" name="other_charge" class="form-control" placeholder="Other Charge" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="text-center custom-pro-edt-ds">
                                                            <input type="submit" name="product_add" value="Save" class="btn btn-ctl-bt waves-effect waves-light m-r-10">
                                                            <button type="button" class="btn btn-ctl-bt waves-effect waves-light">Discard</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- ===== START OF FOOTER SECTION ======== -->
{% include "includes/footer.html" %}
<!-- ===== END OF FOOTER SECTION ========== -->