<!-- ======== START OF HEADER SECTION ========= -->
{% include "includes/header.html" %}
<!-- ======== END OF HEADER SECTION =========== -->
{% load static %}
{% block content %}

    <!-- ======== START OF HEADER SECTION ========= -->
    {% include "includes/aside.html" %}
    <!-- ======== END OF HEADER SECTION =========== -->

    <div class="all-content-wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <h1>&nbsp;</h1>
                        <h1>&nbsp;</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-advance-area">

            <!-- ======== START OF HEADER SECTION ========= -->
            {% include "includes/menubar.html" %}
            <!-- ======== END OF HEADER SECTION =========== -->


            <!-- Single pro tab start-->
            <div class="single-product-tab-area mg-b-30">
                <!-- Single pro tab review Start-->
                <div class="single-pro-review-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="review-tab-pro-inner">
                                    <ul id="myTab3" class="tab-review-design">
                                        <li class="active"><a href="#description"><i class="icon nalika-edit" aria-hidden="true"></i> Add Income </a></li>
                                    </ul>

                                    <form id="" method="POST" action="" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div id="myTabContent" class="tab-content custom-product-edit">
                                            <div class="product-tab-list tab-pane fade active in" id="description">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="review-content-section">
                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon"></span>
                                                                <input type="text" name="field" class="form-control" placeholder="Field Of Income" required>
                                                            </div>

                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon">BDT</span>
                                                                <input type="text" name="amount" class="form-control" placeholder="Amount">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="review-content-section">
                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon"></span>
                                                                <textarea rows="4" type="text" name="remark" class="form-control" placeholder="Remark" required></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="text-center custom-pro-edt-ds">
                                                            <input type="submit" name="income_add" value="Save" class="btn btn-ctl-bt waves-effect waves-light m-r-10">
                                                            <button type="button" class="btn btn-ctl-bt waves-effect waves-light">Discard</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- ===== START OF FOOTER SECTION ======== -->
{% include "includes/footer.html" %}
<!-- ===== END OF FOOTER SECTION ========== -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#multiselect').multiselect({
        buttonWidth : '100%',
        includeSelectAllOption : false,
        nonSelectedText: 'Select product Items'
    });
});

function getSelectedValues() {
  var selectedVal = $("#multiselect").val();
    for(var i=0; i<selectedVal.length; i++){
        function innerFunc(i) {
            setTimeout(function() {
                location.href = selectedVal[i];
            }, i*2000);
        }
        innerFunc(i);
    }
}
</script>


<style type="text/css">
    body {
    text-align: center;
    color: #fff;
    .dropdown-menu {
        border-radius: 0;
    }
    .multiselect-native-select {
        position: relative;
        select {
            border: 0 !important;
            clip: rect(0 0 0 0) !important;
            height: 1px !important;
            margin: -1px -1px -1px -3px !important;
            overflow: hidden !important;
            padding: 0 !important;
            position: absolute !important;
            width: 1px !important;
            left: 50%;
            top: 30px;
        }
    }
    .multiselect-container {
        position: absolute;
        list-style-type: none;
        margin: 0;
        padding: 0;
        .input-group {
            margin: 5px;
        }
        li {
            padding: 0;
            .multiselect-all {
                label {
                    font-weight: 700;
                }
            }
            a {
                padding: 0;
                label {
                    margin: 0;
                    height: 100%;
                    cursor: pointer;
                    font-weight: 400;
                    padding: 3px 20px 3px 40px;
                    input[type=checkbox] {
                        margin-bottom: 5px;
                    }
                }
                label.radio {
                    margin: 0;
                }
                label.checkbox {
                    margin: 0;
                }
            }
        }
        li.multiselect-group {
            label {
                margin: 0;
                padding: 3px 20px 3px 20px;
                height: 100%;
                font-weight: 700;
            }
        }
        li.multiselect-group-clickable {
            label {
                cursor: pointer;
            }
        }
    }
    .btn-group {
        .btn-group {
                .multiselect.btn {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
        }
    }
    .form-inline {
        .multiselect-container {
            label.checkbox {
                padding: 3px 20px 3px 40px;
            }
            label.radio {
                padding: 3px 20px 3px 40px;
            }
            li {
                a {
                    label.checkbox {
                        input[type=checkbox] {
                            margin-left: -20px;
                            margin-right: 0;
                        }
                    }
                    label.radio {
                        input[type=radio] {
                            margin-left: -20px;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    .btn {
        border-radius: 0;
        padding: 10px 0;
    }
    .btn-primary {
        background-color: #ff0000;
        border: none;
        border-radius: 0;
        padding: 11px 15px;
        text-transform: uppercase;
    }
}

</style>